<div class="content row col-md-12 ali">
    <div class="col-md-6">
        <h2>Add Course</h2>
        <form [formGroup]="courseForm" (submit)="addCourse()">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control mt-2" type="text" placeholder="Title" formControlName="title">
                <div *ngIf="courseForm.controls['title'].invalid && (courseForm.controls['title'].dirty || courseForm.controls['title'].touched || this.submitted)"
                    class="text-danger">
                    Title is required.
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control mt-2" placeholder="Description" formControlName="description"></textarea>
                <div *ngIf="courseForm.controls['description'].invalid  && (courseForm.controls['description'].dirty || courseForm.controls['description'].touched || this.submitted)"
                    class="text-danger">
                    Description is required.
                </div>
            </div>
            <div class="form-group"> 
                <label for="video">Video</label>
                <input class="form-control mt-2" type="file" (change)="onFileChange($event)" id="video">
                <div *ngIf="courseForm.get('video').hasError('required') && this.submitted==true " class="text-danger">
                    Video is required.
                </div>
            </div>
            <button class="btn btn-primary mt-3" type="submit">Add Course</button>
            <button class="btn btn-secondary ms-2 mt-3" type="button" (click)="allCourses()">Back</button>
        </form>
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
    </div>
</div>